# Python
.venv/
venv/
__pycache__/
*.pyc
.env

# Java / Gradle
.gradle/
build/
out/

# OS / editor
.vscode/
.DS_Store
# Token + logs
token_log.txt
*.log

# Python
__pycache__/
*.pyc

# Env
.env

# Build (Go / C#)
bin/
obj/